.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex; /* this is so the link can be aligned vertically */
    height: 100%;
    width: auto;
    align-items: center; /* this should be used with flex to align the items center */
}

.NavigationItem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px; /* top/bottom left/right */
    border-bottom: 4px solid transparent; /* this will be important when we hover over a link */
    box-sizing: border-box; /* make sure the height includes the padding and the border */
    display: block; /* so height has an effect */
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a:active { /* will be assigned to links on the page we are active for */
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
}